@mixin gradient-simple ($colorFrom: #FFF, $colorTo: #000, $start: 0%, $end: 100%, $background-color: true) {
  background: -moz-linear-gradient(top, $colorFrom $start, $colorTo $end);
  background: -webkit-linear-gradient(top, $colorFrom $start, $colorTo $end);
  background: linear-gradient(to bottom, $colorFrom $start, $colorTo $end);
  @if ($background-color) {
    background-color: $colorFrom;
  }

}

@mixin gradient-radial ($colorFrom: #FFF, $colorTo: #000, $start: 0%, $end: 100%, $position: center, $background-color: true, $shape: circle) {
  background: -moz-radial-gradient($position, $shape cover, $colorFrom $start, $colorTo $end);
  background: -webkit-radial-gradient($position, $shape cover, $colorFrom $start, $colorTo $end);
  background: -o-radial-gradient($position, $shape cover, $colorFrom $start, $colorTo $end);
  background: -ms-radial-gradient($position, $shape cover, $colorFrom $start, $colorTo $end);
  background: radial-gradient($position, $shape cover, $colorFrom $start, $colorTo $end);
  @if ($background-color) {
    background-color: $colorFrom;
  }
}
